{
    "data": {
        "paymentId": [
            {
                "key": "instPayId",
                "value": "${body.instPayId}"
            }
        ],
        "endToEndId": "${body.endToEndId}",
        "creationDateTime": "${body.initiationTimestampUTC}",
        "statusUpdateDateTime": "${body.statusTimestampUTC}",
        "localInstrument": "${body.paymentForm}",
#if(${body.paymentForm} != "MANU")
        "proxy": "${body.key}",
#end
#if(${body.status.code} == 2)
        "status": "ACSP",
#elseif(${body.status.code} == 3)
        "status": "ACCC",
#else
        "status": "PDNG",
#end
        "payment": {
            "amount": "${body.transaction.amount}",
            "currency": "${body.transaction.currency}"
        },
        "remittanceInformation": "${body.additionalInformation}",
        "creditorAccount": {
            "ispb": "${body.payee.ispb}",
            "issuer": "${body.payee.issuer}",
            "number": "${body.payee.number}",
            "accountType": "${body.payee.accountType}"
        },
        "cnpjInitiator": "${body.initiatorDocument}"
    }
}