{
    "data": {
        "resources": [
            {
                "resourceName": [
                    {
                        "key": "Agência",
                        "value": "${body.issuer}"
                    },
                    {
                        "key": "Conta",
                        "value": "${body.accountNumber}-${body.accountVerifier}"
                    }
                ],
                "resourceLegacyId": [
                    {
                        "key": "internalAccountId",
                        "value": "${body.accountIdentifier}"
                    }
                ],
                "authorizers": [
                    {
                        "cpf": "${body.clientDocument}",
                        "name": "${body.clientName}"
                    }
                ],
                "defaultSelected": true
            }
        ]
    }
}