openapi: 3.0.0
info:
  description: |-
    Opus Open Banking - Authorization Server Mobile and Web Application authorization &
    consent API
  version: 0.1.4
  title: OOB Authorization Server Apps API
tags:
  - name: DeepLink
    description: |-
      Links para aplicação tratar via deep link/universal link e iniciar um fluxo de autenticação.
      Os links devem ser repassados integralmente para o AS.
  - name: App
    description: |-
      APIs para os aplicativos da instituição (mobile e web) realizarem a autenticação e aceite dos consentimentos de fase 2 e 3
paths:
  /auth:
    get:
      tags:
        - DeepLink
      summary: Início do fluxo de autenticação por TPPs
      description: |-
        Request interceptado pelo aplicativo da instituição via deeplink e
        enviado ao AS para instruções do consentimento
      operationId: getAuthAuth
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseCommandAuth"
        default:
          description: Erro inesperado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralError'
  "/handoff/{id}":
    get:
      tags:
        - DeepLink
      summary: Início do fluxo de autenticação por QR
      description: |-
        Request interceptado pelo aplicativo da instituição via deeplink ou leitura direta do QR
        e enviado ao AS para instruções do consentimento
      operationId: getAuthHandOff
      parameters:
        - $ref: '#/components/parameters/CommandId'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseCommandAuth"
        "404":
          description: Command not found
        default:
          description: Erro inesperado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralError'
  "/app/commands/{id}":
    get:
      tags:
        - App
      summary: Retorna informações sobre o command
      description: |-
        Retorna informações sobre o command de authenticate, a ser utilizada pelos aplicativos web ou mobile
      operationId: getAuthApp
      parameters:
        - $ref: '#/components/parameters/CommandId'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseCommandAuth"
        "404":
          description: Command not found
        default:
          description: Erro inesperado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralError'
  "/app/commands/{id}/authentication":
    put:
      tags:
        - App
      summary: Envia o resultado de um comando de autenticação para o OOB AS
      description: Envia o resultado de um comando de autenticação para o OOB Authorization Server
      operationId: postCommandAuthentication
      parameters:
        - $ref: '#/components/parameters/CommandId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Authenticate'
        description: Payload para resposta do comando de autenticação
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseCommand"
        default:
          description: Erro inesperado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralError'
  "/app/commands/{id}/consent":
    put:
      tags:
        - App
      summary: Envia o resultado de um comando de consentimento para o OOB AS
      description: Envia o resultado de um comando de consentimento para o OOB Authorization Server
      operationId: postCommandConsent
      parameters:
        - $ref: '#/components/parameters/CommandId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Consent'
        description: Payload para resposta do comando de autenticação
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseCommandConsent"
        default:
          description: Erro inesperado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralError'
servers:
  - url: https://open-banking.instituicao.com.br/auth
components:
  schemas:
    GeneralError:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
    Refused:
      type: object
      required:
        - refused
      properties:
        refused:
          type: boolean
          description: Indicativo de recusa do consentimento
          example: false
    JWT:
      type: object
      required:
        - iat
        - exp
        - jti
        - cpf
      properties:
        iat:
          type: integer
          description: epoch da emissão do JWT
          example: 1618664738
        exp:
          type: integer
          description: epoch da validade do JWT
          example: 1618664798
        jti:
          type: string
          description: id para evitar reuso do jwt
          example: e8f172c9-6f83-4d36-9dbb-e3ce7ca8a39b
        cpf:
          type: string
          description: cpf do usuário logado
          example: 32180490089
        cnpj:
          type: string
          description: cnpj do usuário logado
          example: 77202036000182
        name:
          type: string
          description: nome do usuário logado
          example: João Maria José
        authExtraData:
          type: string
          description: informações adicionais sobre o login
          example: |-
            [ { "key": "agencia", "value": "1234" }, { "key": "conta", "value": "542345234" } ]
        consentOwner:
          type: string
          description: identificador do dono do consentimento
          example: |-
            [ { "key": "conta", "value": "542345234" }, { "key": "cnpj", "value": "77202036000182" } ]
    Authenticate:
      type: object
      allOf:
        - $ref: "#/components/schemas/Refused"
      properties:
        jwt:
          example: "eyJhbGciOiJSUzI1NiIsImtpZCI6IkVVc01MRndYejV6TWhrSm9vMWxjbklNMnBBcExjM2tjXzJXVjhZS1lDM00ifQ.eyJpYXQiOjE2MzQyNTYwMDAsImp0aSI6ImU2Y2RlNTFmLTc5OWMtNDQxMC04YmRhLWQ2NTY3M2NiMDQzYyIsIm5hbWUiOiJKb8OjbyBNYXJpYSBKb3PDqSIsImNwZiI6IjMyMTgwNDkwMDg5IiwiY25waiI6Ijc3MjAyMDM2MDAwMTgyIiwiYXV0aEV4dHJhRGF0YSI6W3sia2V5IjoiYWdlbmNpYSIsInZhbHVlIjoiMTIzNCJ9LHsia2V5IjoiY29udGEiLCJ2YWx1ZSI6IjU0MjM0NTIzNCJ9XSwiY29uc2VudE93bmVyIjpbeyJrZXkiOiJjb250YSIsInZhbHVlIjoiNTQyMzQ1MjM0In0seyJrZXkiOiJjbnBqIiwidmFsdWUiOiI3NzIwMjAzNjAwMDE4MiJ9XX0.dN841nMHKgwumFRoNnYAogmIxzoL20tUSpdltEXTmWUIT0p1IxNWSelcS3FGjphKb-Q5vcfdnNNXgVwMvdUts_buveyda54zlLHWm9wkb71_C_IXHl6DLgsemM7JtnFjfhiBlIBvyB6p-7DRlJTLJc_9Q8R2CX7uOnMSEaST-4WxgQSSzBvAFKsGuGuZ3RvrZOXYFVQjG8idm0T9JoIC29evF7QEumgBXcOwdYmPO0oj9gMWUcOiVIWty2MfreRaDvlmUSLclSjsrae_laED9x2N19Y0uc5xCgH2LweSpAsUkJwSvsrr92dTKv2mDoKWNnXJhr9QABIJPKygWnR05g"
          type: object
          description: |-
            JWT assinado segundo a estrutura definida, envio obrigatório
            se não ouve recusa do consentimento.
          allOf:
            - $ref: "#/components/schemas/JWT"
    Consent:
      type: object
      allOf:
        - $ref: "#/components/schemas/Refused"
      properties:
        selectedResources:
          type: array
          description: Array com os IDs dos recursos do consentimento selecionados pelo usuário
          items:
            type: string
          maxItems: 100
        isMultipleRequirer:
          type: boolean
          description: Define se o consentimento é de múltipla alçada(se não enviado o padrão é false)
          example: false
        isConsentAuthorized:
          type: boolean
          description: Define se o consentimento foi autorizado totalmente(se não enviado o padrão é true)
          example: true
        selectedTransactionLimit:
          type: number
          description: Limite por transação selecionado pelo cliente para os pagamentos atrelados ao vínculo de dispositivo da JSR.
            [Restrição]  Preenchimento obrigatório para os consentimentos de tipo ENROLLMENT
          example: 100000.12
          minimum: 0.01
        selectedDailyLimit:
          type: number
          description: Limite de transação diário selecionado pelo cliente para os pagamentos atrelados ao vínculo de dispositivo da JSR.
            [Restrição]  Preenchimento obrigatório para os consentimentos de tipo ENROLLMENT
          example: 100000.12
          minimum: 0.01
        selectedExpirationDate:
          type: string
          maxLength: 20
          description: Data de expiração selecionada pelo cliente para o vínculo de dispositivo da JSR. If it is not sent, the enrollment will remain valid until canceled by the client.
          format: date-time
          example: "2021-05-21T08:30:00Z"
        selectedEnrollmentName:
          type: string
          description: Nome do dispositivo autorizado pelo cliente para o vínculo de dispositivo da JSR.
          example: "Meu Celular"
        useOverdraftLimit:
          type: boolean
          default: true
          example: true
          description: Indica se o usuário pagador autorizou a utilização de limite pré-aprovado (cheque especial) na sua conta para realização de pagamentos, caso o cliente possua o produto.
    AuthenticateCommand:
      type: object
      properties:
        acr:
          type: string
          description: Nível exigido na autenticação
          enum:
            - urn:brasil:openbanking:loa2
        jti:
          type: string
          description: jti a ser usado no JWT assinado para evitar replay attack
          maxLength: 40
    ConsentCommand:
      type: object
      properties:
        customerName:
          type: string
          description: Nome do cliente autenticado
        brand:
          type: object
          description: Informações sobre a marca da instituição
          properties:
            id:
              type: string
              description: ID da marca da instituição
            name:
              type: string
              description: Nome da marca da instituição
            logoUrl:
              type: string
              description: URL do logotipo da marca da instituição
        consent:
          oneOf:
            - $ref: '#/components/schemas/ConsentCustomerDataSharing'
            - $ref: '#/components/schemas/ConsentCustomerPayment'
        permissions:
          allOf:
            - $ref: '#/components/schemas/ResponseDomainPermissionSchema'
          description: "Descrição das permissões do consentimento. Para consentimento de compartilhamento de dados ou vínculo de dispositivo para JSR."
        resourceTypes:
          allOf:
            - $ref: '#/components/schemas/ResponseDomainResourceSchema'
          description: "Tipos de recursos do consentimento. Exclusivo de consentimento de compartilhamento de dados."

    ResponseDomainPermissionSchema:
      type: array
      items:
        $ref: '#/components/schemas/Permission'

    Permission:
      type: object
      properties:
        description:
          type: string
          example: Permite a visualização das contas, incluindo agência e número da conta
        name:
          type: string
          example: ACCOUNTS_READ
        title:
          type: string
          example: Permite a visualização das contas

    ResponseDomainResourceSchema:
      type: array
      items:
        $ref: '#/components/schemas/ResourceType'

    ResourceType:
      type: object
      properties:
        name:
          type: string
          example: ACCOUNT
        permissions:
          type: array
          items:
            type: string
        title:
          type: string
          example: Dados da conta
    ErrorCommand:
      type: object
      allOf:
        - $ref: "#/components/schemas/Redirect"
      properties:
        type:
          type: string
          description: Tipo do erro
          enum:
            - CPF_MISMATCH
            - CNPJ_MISMATCH
            - EXPIRED_CONSENT
            - INVALID_SESSION
            - RESOURCE_MUST_CONTAIN_ID
            - RESOURCE_MUST_CONTAIN_ID_SELECTABLE_PRODUCTS
            - DISCOVERY_ERROR
            - DISCOVERY_TIMEOUT
            - INVALID_STATUS_CONFIRMATION
            - INVALID_PAYMENT_DATA
            - INVALID_ENROLLMENT_INFORMATION
            - GENERIC_ERROR
            - OIDC_ERROR
            - HANDOFF_ABORTED
        message:
          type: string
          description: Mensagem de erro que deve ser exibida na tela antes do redirecionamento final
    Redirect:
      type: object
      properties:
        redirect:
          type: object
          properties:
            isHandOff:
              type: boolean
              description: |-
                Indicativo da autorização ter ocorrido via hand-off e não exigir redirect.
                A orientação para o usuário deve ser para o mesmo continuar a transação no
                dispositivo que iniciou a operação.
            redirectTo:
              type: string
              description: |-
                URL para abrir no sistema operacional de retorno ao TPP,
                apenas para hybrid-flow tradicional (sem hand-off)
    CompletedCommand:
      type: object
      allOf:
        - $ref: "#/components/schemas/Redirect"
    ResponseCommandAuth:
      type: object
      required:
        - command
        - commandId
        - tpp
        - type
      properties:
        command:
          type: string
          enum:
            - authenticate
            - consent
            - error
            - completed
        commandId:
          type: string
          description: ID do comando a ser utilizado na resposta
          maxLength: 40
        tpp:
          type: object
          description: Informações sobre o TPP
          properties:
            name:
              type: string
              description: "Nome do TPP"
            logoUrl:
              type: string
              description: URL do logotipo (SVG)
        type:
          type: string
          enum:
            - DATA_SHARING
            - PAYMENT
            - ENROLLMENT
        authenticateCommand:
          $ref: '#/components/schemas/AuthenticateCommand'
        errorCommand:
          $ref: '#/components/schemas/ErrorCommand'
    ResponseCommandConsent:
      type: object
      required:
        - command
        - commandId
        - tpp
      properties:
        command:
          type: string
          enum:
            - authenticate
            - consent
            - error
            - completed
        commandId:
          type: string
          description: ID do comando a ser utilizado na resposta
          maxLength: 40
        tpp:
          type: object
          description: Informações sobre o TPP
          properties:
            name:
              type: string
              description: "Nome do TPP"
            logoUrl:
              type: string
              description: URL do logotipo (SVG)
        errorCommand:
          $ref: '#/components/schemas/ErrorCommand'
        completedCommand:
          $ref: '#/components/schemas/CompletedCommand'
    ResponseCommand:
      type: object
      required:
        - command
        - commandId
        - tpp
      properties:
        command:
          type: string
          enum:
            - authenticate
            - consent
            - error
            - completed
        commandId:
          type: string
          description: ID do comando a ser utilizado na resposta
          maxLength: 40
        tpp:
          type: object
          description: Informações sobre o TPP
          properties:
            name:
              type: string
              description: "Nome do TPP"
            logoUrl:
              type: string
              description: URL do logotipo (SVG)
        consentCommand:
          $ref: '#/components/schemas/ConsentCommand'
        errorCommand:
          $ref: '#/components/schemas/ErrorCommand'
    ConsentCustomerDataSharing:
      description: Detalhes do consentimento de compartilhamento de dados
      type: object
      required:
        - type
        - brandId
        - creationDateTime
        - tpp
        - externalId
        - loggedUser
      properties:
        type:
          description: Tipo do consentimento
          type: string
          enum:
            - DATA_SHARING
        brandId:
          type: string
          description: Identificador da marca reportada pelo participante do Open Banking
          example:
            - cbanco
          minLength: 1
          maxLength: 50
        creationDateTime:
          description: Data e hora em que o consentimento foi criado. Uma string com data e hora conforme especificação RFC-3339, sempre com a utilização de timezone UTC (UTC time format).
          type: string
          format: date-time
          example:
            - "2021-05-21T08:30:00Z"
          pattern: ^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$
          maxLength: 20
        tpp:
          type: object
          description: Detalhes do TPP que solicitou o consentimento
          additionalProperties: false
          required:
            - name
          properties:
            name:
              type: string
              description: Nome do TPP que solicitou o consentimento
              example:
                - GuiaBolsa
              maxLength: 100
        externalId:
          type: string
          description: Identificador do consentimento utilizado fora da plataforma OOB
          example:
            - urn:oob-bank:2f710909-4ccd-4998-8679-3d8de00e5ccf
          maxLength: 100
        loggedUser:
          type: object
          description: Usuário (pessoa natural) que encontra-se logado na instituição Iniciadora de Pagamento.
          additionalProperties: false
          required:
            - document
          properties:
            document:
              type: object
              description: Documento de identificação oficial do usuário.
              additionalProperties: false
              required:
                - identification
                - rel
              properties:
                identification:
                  type: string
                  maxLength: 11
                  description: Número do documento de identificação oficial do usuário.
                  example:
                    - "11111111111"
                  pattern: ^\d{11}$
                rel:
                  type: string
                  maxLength: 3
                  description: Tipo do documento de identificação oficial do usuário.
                  example:
                    - CPF
                  pattern: ^[A-Z]{3}$
        businessDocumentType:
          type: object
          description: Usuário (pessoa jurídica) que encontra-se logado na instituição Iniciadora de Pagamento. [Restrição] Preenchimento obrigatório se usuário logado na instituição Iniciadora de Pagamento for um CNPJ (pessoa jurídica).
          additionalProperties: false
          required:
            - document
          properties:
            document:
              type: object
              description: Documento de identificação oficial do titular pessoa jurídica.
              additionalProperties: false
              required:
                - identification
                - rel
              properties:
                identification:
                  type: string
                  maxLength: 14
                  description: Número do documento de identificação oficial do titular pessoa jurídica.
                  example:
                    - "11111111111111"
                  pattern: ^\d{14}$
                rel:
                  type: string
                  maxLength: 4
                  description: Tipo do documento de identificação oficial do titular pessoa jurídica.
                  example:
                    - CNPJ
                  pattern: ^[A-Z]{4}$
        resources:
          description: Lista de recursos que podem ser selecionados pelo cliente para serem usados no consentimento. Objeto de uso nas interfaces de aceitação do consentimento
          type: array
          items:
            type: object
            description: Recursos selecionável pelo cliente
            properties:
              id:
                type: string
                description: campo no formato GUID
                example:
                  - 49fe29f1-95a9-4521-8f48-a9700e392b48
                pattern: ^[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12}$
                maxLength: 36
              type:
                description: Tipo do recurso
                type: string
                enum:
                  - ACCOUNT
                  - CREDIT_CARD_ACCOUNT
                example:
                  - ACCOUNT
              name:
                type: array
                description: "Array de chave e valor com o nome do recurso, esses dados serão apresentados nos frontends no formato: 'Key1: Value1 Key2: Value2 ...'"
                items:
                  type: object
                  required:
                    - key
                  properties:
                    key:
                      type: string
                      example:
                        - Cartão de crédito
                    value:
                      type: string
                      example:
                        - 2134 XXXX XXXX 3123
                minItems: 1
                maxItems: 10
              balanceCurrency:
                description: Moeda do saldo do recurso.
                type: string
                example:
                  - BRL
              balanceAmount:
                description: Valor do saldo do recurso.
                type: number
                example:
                  - 3192.32
              hasMultipleAuthorisers:
                type: boolean
                example:
                  - "false"
              rejectionReason:
                description: Objeto que indica o motivo de rejeição do recurso
                type: object
                required:
                  - code
                properties:
                  code:
                    description: Código que determina o motivo do recurso ter sido negado
                    type: string
                    enum:
                      - VALOR_INVALIDO
                      - NAO_INFORMADO
                      - FALHA_INFRAESTRUTURA
                      - CONTAS_ORIGEM_DESTINO_IGUAIS
                      - CONTA_NAO_PERMITE_PAGAMENTO
                      - SALDO_INSUFICIENTE
                      - VALOR_ACIMA_LIMITE
                      - CONTA_DIVERGENTE_DA_SOLICITADA
                      - QRCODE_INVALIDO
                  detail:
                    type: string
                    description: Descrição do motivo de rejeição do recurso. Estará preenchido apenas se um motivo de rejeição for enviado pelo conector.
            additionalProperties: false
          maxItems: 1000
        expirationDateTime:
          description: Data e hora de expiração da permissão. De preenchimento obrigatório, reflete a data limite de validade do consentimento. Uma string com data e hora conforme especificação RFC-3339, sempre com a utilização de timezone UTC (UTC time format).
          type: string
          maxLength: 20
          format: date-time
          example:
            - "2021-05-21T08:30:00Z"
        permissions:
          type: array
          items:
            description: Somente para consentimentos de compartilhamento de dados. Especifica os tipos de permissões de acesso às APIs no escopo do Open Banking Brasil - Fase 2, de acordo com os blocos de consentimento fornecidos pelo usuário e necessários ao acesso a cada endpoint das APIs.
            type: string
            enum:
              - ACCOUNTS_READ
              - ACCOUNTS_BALANCES_READ
              - ACCOUNTS_TRANSACTIONS_READ
              - ACCOUNTS_OVERDRAFT_LIMITS_READ
              - CREDIT_CARDS_ACCOUNTS_READ
              - CREDIT_CARDS_ACCOUNTS_BILLS_READ
              - CREDIT_CARDS_ACCOUNTS_BILLS_TRANSACTIONS_READ
              - CREDIT_CARDS_ACCOUNTS_LIMITS_READ
              - CREDIT_CARDS_ACCOUNTS_TRANSACTIONS_READ
              - CUSTOMERS_PERSONAL_IDENTIFICATIONS_READ
              - CUSTOMERS_PERSONAL_ADITTIONALINFO_READ
              - CUSTOMERS_BUSINESS_IDENTIFICATIONS_READ
              - CUSTOMERS_BUSINESS_ADITTIONALINFO_READ
              - FINANCINGS_READ
              - FINANCINGS_SCHEDULED_INSTALMENTS_READ
              - FINANCINGS_PAYMENTS_READ
              - FINANCINGS_WARRANTIES_READ
              - INVOICE_FINANCINGS_READ
              - INVOICE_FINANCINGS_SCHEDULED_INSTALMENTS_READ
              - INVOICE_FINANCINGS_PAYMENTS_READ
              - INVOICE_FINANCINGS_WARRANTIES_READ
              - LOANS_READ
              - LOANS_SCHEDULED_INSTALMENTS_READ
              - LOANS_PAYMENTS_READ
              - LOANS_WARRANTIES_READ
              - UNARRANGED_ACCOUNTS_OVERDRAFT_READ
              - UNARRANGED_ACCOUNTS_OVERDRAFT_SCHEDULED_INSTALMENTS_READ
              - UNARRANGED_ACCOUNTS_OVERDRAFT_PAYMENTS_READ
              - UNARRANGED_ACCOUNTS_OVERDRAFT_WARRANTIES_READ
              - RESOURCES_READ
          minItems: 1
          maxItems: 30
          example:
            - - ACCOUNTS_READ
              - ACCOUNTS_OVERDRAFT_LIMITS_READ
              - RESOURCES_READ
        failingResources:
          type: array
          items:
            description: Lista opcional de recursos que falharam no discovery
            type: string
            enum:
              - CREDIT_CARD_ACCOUNT
              - ACCOUNT
          maxItems: 1000
          example:
            - PAYMENT
      additionalProperties: false
    ConsentCustomerPayment:
      description: Detalhes do consentimentob de pagamento
      type: object
      required:
        - type
        - brandId
        - creationDateTime
        - tpp
        - externalId
        - loggedUser
      properties:
        type:
          description: Tipo do consentimento
          type: string
          enum:
            - PAYMENT
            - ENROLLMENT
        brandId:
          type: string
          description: Identificador da marca reportada pelo participante do Open Banking
          example:
            - cbanco
          minLength: 1
          maxLength: 50
        creationDateTime:
          description: Data e hora em que o consentimento foi criado. Uma string com data e hora conforme especificação RFC-3339, sempre com a utilização de timezone UTC (UTC time format).
          type: string
          format: date-time
          example:
            - "2021-05-21T08:30:00Z"
          pattern: ^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$
          maxLength: 20
        startDateTime:
          description: Data e hora em que o consentimento deve passar a ser válido. Uma string com data e hora conforme especificação RFC-3339, sempre com a utilização de timezone UTC(UTC time format).

            [ Restrição ] Preenchimento obrigatório quando o consentimento de pagamento passa a valer em data (dia e hora) futura.
          type: string
          format: date-time
          example:
            - "2021-05-21T08:30:00Z"
          pattern: ^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$
          maxLength: 20
        tpp:
          type: object
          description: Detalhes do TPP que solicitou o consentimento
          additionalProperties: false
          required:
            - name
          properties:
            name:
              type: string
              description: Nome do TPP que solicitou o consentimento
              example:
                - GuiaBolsa
              maxLength: 100
        externalId:
          type: string
          description: Identificador do consentimento utilizado fora da plataforma OOB
          example:
            - urn:oob-bank:2f710909-4ccd-4998-8679-3d8de00e5ccf
          maxLength: 100
        loggedUser:
          type: object
          description: Usuário (pessoa natural) que encontra-se logado na instituição Iniciadora de Pagamento.
          additionalProperties: false
          required:
            - document
          properties:
            document:
              type: object
              description: Documento de identificação oficial do usuário.
              additionalProperties: false
              required:
                - identification
                - rel
              properties:
                identification:
                  type: string
                  maxLength: 11
                  description: Número do documento de identificação oficial do usuário.
                  example:
                    - "11111111111"
                  pattern: ^\d{11}$
                rel:
                  type: string
                  maxLength: 3
                  description: Tipo do documento de identificação oficial do usuário.
                  example:
                    - CPF
                  pattern: ^[A-Z]{3}$
        businessDocumentType:
          type: object
          description: Usuário (pessoa jurídica) que encontra-se logado na instituição Iniciadora de Pagamento. [Restrição] Preenchimento obrigatório se usuário logado na instituição Iniciadora de Pagamento for um CNPJ (pessoa jurídica).
          additionalProperties: false
          required:
            - document
          properties:
            document:
              type: object
              description: Documento de identificação oficial do titular pessoa jurídica.
              additionalProperties: false
              required:
                - identification
                - rel
              properties:
                identification:
                  type: string
                  maxLength: 14
                  description: Número do documento de identificação oficial do titular pessoa jurídica.
                  example:
                    - "11111111111111"
                  pattern: ^\d{14}$
                rel:
                  type: string
                  maxLength: 4
                  description: Tipo do documento de identificação oficial do titular pessoa jurídica.
                  example:
                    - CNPJ
                  pattern: ^[A-Z]{4}$
        resources:
          description: Lista de recursos que podem ser selecionados pelo cliente para serem usados no consentimento. Objeto de uso nas interfaces de aceitação do consentimento
          type: array
          items:
            type: object
            description: Recursos selecionável pelo cliente
            properties:
              id:
                type: string
                description: campo no formato GUID
                example:
                  - 49fe29f1-95a9-4521-8f48-a9700e392b48
                pattern: ^[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12}$
                maxLength: 36
              type:
                description: Tipo do recurso
                type: string
                enum:
                  - PAYMENT
                example:
                  - PAYMENT
              name:
                type: array
                description: "Array de chave e valor com o nome do recurso, esses dados serão apresentados nos frontends no formato: 'Key1: Value1 Key2: Value2 ...'"
                items:
                  type: object
                  required:
                    - key
                  properties:
                    key:
                      type: string
                      example:
                        - Cartão de crédito
                    value:
                      type: string
                      example:
                        - 2134 XXXX XXXX 3123
                minItems: 1
                maxItems: 10
              balanceCurrency:
                description: Moeda do saldo do recurso.
                type: string
                example:
                  - BRL
              balanceAmount:
                description: Valor do saldo do recurso.
                type: number
                example:
                  - 3192.32
              hasMultipleAuthorisers:
                type: boolean
                example:
                  - "false"
              rejectionReason:
                description: Objeto que indica o motivo de rejeição do recurso
                type: object
                required:
                  - code
                properties:
                  code:
                    description: Código que determina o motivo do recurso ter sido negado
                    type: string
                    enum:
                      - VALOR_INVALIDO
                      - NAO_INFORMADO
                      - FALHA_INFRAESTRUTURA
                      - CONTAS_ORIGEM_DESTINO_IGUAIS
                      - CONTA_NAO_PERMITE_PAGAMENTO
                      - SALDO_INSUFICIENTE
                      - VALOR_ACIMA_LIMITE
                      - CONTA_DIVERGENTE_DA_SOLICITADA
                      - QRCODE_INVALIDO
                  detail:
                    type: string
                    description: Descrição do motivo de rejeição do recurso. Estará preenchido apenas se um motivo de rejeição for enviado pelo conector.
            additionalProperties: false
          maxItems: 1000
        expirationDateTime:
          description: Data e hora de expiração da permissão. De preenchimento obrigatório, reflete a data limite de validade do consentimento. Uma string com data e hora conforme especificação RFC-3339, sempre com a utilização de timezone UTC (UTC time format).
          type: string
          maxLength: 20
          format: date-time
          example:
            - "2021-05-21T08:30:00Z"
        additionalInformation:
          description: Informação adicional inserida pelo usuário pagador nos consentimentos de Pagamento Automático
          type: string
          example: 'Minha recorrência'
          pattern: '[\w\W\s]*'
          maxLength: 140
        creditors:
          type: array
          description: Lista de possíveis recebedores do pagamento
          items:
            allOf:
              - $ref: '#/components/schemas/Creditor'
        creditor:
          deprecated: true
          description: Será substituído futuramente pelo objeto creditors com a lista dos possíveis recebedores do pagamento.
          allOf:
            - $ref: '#/components/schemas/Creditor'
        payment:
          $ref: '#/components/schemas/PixPaymentConsent'
        recurringConfiguration:
          $ref: '#/components/schemas/AutomaticPayment'
        debtorAccount:
          type: object
          description: |
            Para consentimentos de pagamento e vínculo de dispositivo para JSR. Objeto que contém a identificação da conta de origem do pagador.
            As informações quanto à conta de origem do pagador poderão ser trazidas no consentimento para a detentora, caso a iniciadora tenha coletado essas informações do cliente. Do contrário, será coletada na detentora e trazida para a iniciadora como resposta à criação do pagamento.
          required:
            - ispb
            - number
            - accountType
          properties:
            ispb:
              type: string
              minLength: 8
              maxLength: 8
              pattern: ^[0-9]{8}$
              example:
                - "12345678"
              description: |
                Deve ser preenchido com o ISPB (Identificador do Sistema de Pagamentos Brasileiros) do participante do SPI (Sistema de pagamentos instantâneos) somente com números.
            issuer:
              type: string
              maxLength: 4
              pattern: ^\d{4}$
              example:
                - "1774"
              description: |
                Código da Agência emissora da conta sem dígito.
                (Agência é a dependência destinada ao atendimento aos clientes, ao público em geral e aos associados de cooperativas de crédito,
                no exercício de atividades da instituição, não podendo ser móvel ou transitória).
                [Restrição] Preenchimento obrigatório para os seguintes tipos de conta: CACC (CONTA_DEPOSITO_A_VISTA), SVGS (CONTA_POUPANCA) e SLRY (CONTA_SALARIO).
            number:
              type: string
              minLength: 3
              maxLength: 20
              pattern: ^\d{3,20}$
              example:
                - "1234567890"
              description: |
                Deve ser preenchido com o número da conta transacional do usuário pagador, com dígito verificador (se este existir),
                se houver valor alfanumérico, este deve ser convertido para 0.
            accountType:
              type: string
              maxLength: 4
              enum:
                - CACC
                - SLRY
                - SVGS
                - TRAN
              example:
                - CACC
              description: |
                Tipos de contas usadas para pagamento.
                Modalidades tradicionais previstas pela Resolução 4.753, não contemplando contas vinculadas,
                conta de domiciliados no exterior, contas em moedas estrangeiras e conta correspondente moeda eletrônica.
                Segue descrição de cada valor do ENUM.
                CACC - Current - Conta Corrente.
                SLRY - Salary - Conta-Salário.
                SVGS - Savings - Conta de Poupança.
                TRAN - TransactingAccount - Conta de Pagamento pré-paga.
          additionalProperties: false
        permissions:
          type: array
          items:
            description: Somente para consentimentos de vínculo. Especifica os tipos de permissões de acesso às APIs no escopo do Open Banking Brasil - Fase 3, de acordo com os blocos de consentimento fornecidos pelo usuário e necessários ao acesso a cada endpoint das APIs.
            type: string
            enum:
              - PAYMENTS_INITIATE
          minItems: 1
          maxItems: 30
          example:
            - - PAYMENTS_INITIATE
        failingResources:
          type: array
          items:
            description: Lista opcional de recursos que falharam no discovery
            type: string
            enum:
              - PAYMENT
          maxItems: 1000
          example:
            - PAYMENT
      additionalProperties: false
    ConsentCustomerAcceptance:
      description: Detalhes do consentimento
      type: object
      required:
        - type
        - brandId
        - creationDateTime
        - tpp
        - externalId
        - loggedUser
      properties:
        type:
          description: Tipo do consentimento
          type: string
          enum:
            - DATA_SHARING
            - PAYMENT
            - ENROLLMENT
        brandId:
          type: string
          description: Identificador da marca reportada pelo participante do Open Banking
          example:
            - cbanco
          minLength: 1
          maxLength: 50
        creationDateTime:
          description: Data e hora em que o consentimento foi criado. Uma string com data e hora conforme especificação RFC-3339, sempre com a utilização de timezone UTC (UTC time format).
          type: string
          format: date-time
          example:
            - "2021-05-21T08:30:00Z"
          pattern: ^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$
          maxLength: 20
        startDateTime:
          description: Data e hora em que o consentimento deve passar a ser válido. Uma string com data e hora conforme especificação RFC-3339, sempre com a utilização de timezone UTC(UTC time format).

            [ Restrição ] Preenchimento obrigatório quando o consentimento de pagamento passa a valer em data (dia e hora) futura.
          type: string
          format: date-time
          example:
            - "2021-05-21T08:30:00Z"
          pattern: ^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$
          maxLength: 20
        tpp:
          type: object
          description: Detalhes do TPP que solicitou o consentimento
          additionalProperties: false
          required:
            - name
          properties:
            name:
              type: string
              description: Nome do TPP que solicitou o consentimento
              example:
                - GuiaBolsa
              maxLength: 100
        externalId:
          type: string
          description: Identificador do consentimento utilizado fora da plataforma OOB
          example:
            - urn:oob-bank:2f710909-4ccd-4998-8679-3d8de00e5ccf
          maxLength: 100
        loggedUser:
          type: object
          description: Usuário (pessoa natural) que encontra-se logado na instituição Iniciadora de Pagamento.
          additionalProperties: false
          required:
            - document
          properties:
            document:
              type: object
              description: Documento de identificação oficial do usuário.
              additionalProperties: false
              required:
                - identification
                - rel
              properties:
                identification:
                  type: string
                  maxLength: 11
                  description: Número do documento de identificação oficial do usuário.
                  example:
                    - "11111111111"
                  pattern: ^\d{11}$
                rel:
                  type: string
                  maxLength: 3
                  description: Tipo do documento de identificação oficial do usuário.
                  example:
                    - CPF
                  pattern: ^[A-Z]{3}$
        businessDocumentType:
          type: object
          description: Usuário (pessoa jurídica) que encontra-se logado na instituição Iniciadora de Pagamento. [Restrição] Preenchimento obrigatório se usuário logado na instituição Iniciadora de Pagamento for um CNPJ (pessoa jurídica).
          additionalProperties: false
          required:
            - document
          properties:
            document:
              type: object
              description: Documento de identificação oficial do titular pessoa jurídica.
              additionalProperties: false
              required:
                - identification
                - rel
              properties:
                identification:
                  type: string
                  maxLength: 14
                  description: Número do documento de identificação oficial do titular pessoa jurídica.
                  example:
                    - "11111111111111"
                  pattern: ^\d{14}$
                rel:
                  type: string
                  maxLength: 4
                  description: Tipo do documento de identificação oficial do titular pessoa jurídica.
                  example:
                    - CNPJ
                  pattern: ^[A-Z]{4}$
        resources:
          description: Lista de recursos que podem ser selecionados pelo cliente para serem usados no consentimento. Objeto de uso nas interfaces de aceitação do consentimento
          type: array
          items:
            type: object
            description: Recursos selecionável pelo cliente
            properties:
              id:
                type: string
                description: campo no formato GUID
                example:
                  - 49fe29f1-95a9-4521-8f48-a9700e392b48
                pattern: ^[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12}$
                maxLength: 36
              type:
                description: Tipo do recurso
                type: string
                enum:
                  - ACCOUNT
                  - CREDIT_CARD_ACCOUNT
                  - PAYMENT
                example:
                  - PAYMENT
              name:
                type: array
                description: "Array de chave e valor com o nome do recurso, esses dados serão apresentados nos frontends no formato: 'Key1: Value1 Key2: Value2 ...'"
                items:
                  type: object
                  required:
                    - key
                  properties:
                    key:
                      type: string
                      example:
                        - Cartão de crédito
                    value:
                      type: string
                      example:
                        - 2134 XXXX XXXX 3123
                minItems: 1
                maxItems: 10
              balanceCurrency:
                description: Moeda do saldo do recurso.
                type: string
                example:
                  - BRL
              balanceAmount:
                description: Valor do saldo do recurso.
                type: number
                example:
                  - 3192.32
              hasMultipleAuthorisers:
                type: boolean
                example:
                  - "false"
              rejectionReason:
                description: Objeto que indica o motivo de rejeição do recurso
                type: object
                required:
                  - code
                properties:
                  code:
                    description: Código que determina o motivo do recurso ter sido negado
                    type: string
                    enum:
                      - VALOR_INVALIDO
                      - NAO_INFORMADO
                      - FALHA_INFRAESTRUTURA
                      - CONTAS_ORIGEM_DESTINO_IGUAIS
                      - CONTA_NAO_PERMITE_PAGAMENTO
                      - SALDO_INSUFICIENTE
                      - VALOR_ACIMA_LIMITE
                      - CONTA_DIVERGENTE_DA_SOLICITADA
                      - QRCODE_INVALIDO
                  detail:
                    type: string
                    description: Descrição do motivo de rejeição do recurso. Estará preenchido apenas se um motivo de rejeição for enviado pelo conector.
            additionalProperties: false
          maxItems: 1000
        expirationDateTime:
          description: Data e hora de expiração da permissão. De preenchimento obrigatório, reflete a data limite de validade do consentimento. Uma string com data e hora conforme especificação RFC-3339, sempre com a utilização de timezone UTC (UTC time format).
          type: string
          maxLength: 20
          format: date-time
          example:
            - "2021-05-21T08:30:00Z"
        additionalInformation:
          description: Informação adicional inserida pelo usuário pagador nos consentimentos de Pagamento Automático
          type: string
          example: 'Minha recorrência'
          pattern: '[\w\W\s]*'
          maxLength: 140
        creditors:
          type: array
          description: Lista de possíveis recebedores do pagamento
          items:
            allOf:
              - $ref: '#/components/schemas/Creditor'
        creditor:
          deprecated: true
          description: Será substituído futuramente pelo objeto creditors com a lista dos possíveis recebedores do pagamento.
          allOf:
            - $ref: '#/components/schemas/Creditor'
        payment:
          $ref: '#/components/schemas/PixPaymentConsent'
        recurringConfiguration:
          $ref: '#/components/schemas/AutomaticPayment'
        debtorAccount:
          type: object
          description: |
            Para consentimentos de pagamento e vínculo de dispositivo para JSR. Objeto que contém a identificação da conta de origem do pagador.
            As informações quanto à conta de origem do pagador poderão ser trazidas no consentimento para a detentora, caso a iniciadora tenha coletado essas informações do cliente. Do contrário, será coletada na detentora e trazida para a iniciadora como resposta à criação do pagamento.
          required:
            - ispb
            - number
            - accountType
          properties:
            ispb:
              type: string
              minLength: 8
              maxLength: 8
              pattern: ^[0-9]{8}$
              example:
                - "12345678"
              description: |
                Deve ser preenchido com o ISPB (Identificador do Sistema de Pagamentos Brasileiros) do participante do SPI (Sistema de pagamentos instantâneos) somente com números.
            issuer:
              type: string
              maxLength: 4
              pattern: ^\d{4}$
              example:
                - "1774"
              description: |
                Código da Agência emissora da conta sem dígito.
                (Agência é a dependência destinada ao atendimento aos clientes, ao público em geral e aos associados de cooperativas de crédito,
                no exercício de atividades da instituição, não podendo ser móvel ou transitória).
                [Restrição] Preenchimento obrigatório para os seguintes tipos de conta: CACC (CONTA_DEPOSITO_A_VISTA), SVGS (CONTA_POUPANCA) e SLRY (CONTA_SALARIO).
            number:
              type: string
              minLength: 3
              maxLength: 20
              pattern: ^\d{3,20}$
              example:
                - "1234567890"
              description: |
                Deve ser preenchido com o número da conta transacional do usuário pagador, com dígito verificador (se este existir),
                se houver valor alfanumérico, este deve ser convertido para 0.
            accountType:
              type: string
              maxLength: 4
              enum:
                - CACC
                - SLRY
                - SVGS
                - TRAN
              example:
                - CACC
              description: |
                Tipos de contas usadas para pagamento.
                Modalidades tradicionais previstas pela Resolução 4.753, não contemplando contas vinculadas,
                conta de domiciliados no exterior, contas em moedas estrangeiras e conta correspondente moeda eletrônica.
                Segue descrição de cada valor do ENUM.
                CACC - Current - Conta Corrente.
                SLRY - Salary - Conta-Salário.
                SVGS - Savings - Conta de Poupança.
                TRAN - TransactingAccount - Conta de Pagamento pré-paga.
          additionalProperties: false
        permissions:
          type: array
          items:
            description: Somente para consentimentos de compartilhamento de dados. Especifica os tipos de permissões de acesso às APIs no escopo do Open Banking Brasil - Fase 2, de acordo com os blocos de consentimento fornecidos pelo usuário e necessários ao acesso a cada endpoint das APIs.
            type: string
            enum:
              - ACCOUNTS_READ
              - ACCOUNTS_BALANCES_READ
              - ACCOUNTS_TRANSACTIONS_READ
              - ACCOUNTS_OVERDRAFT_LIMITS_READ
              - CREDIT_CARDS_ACCOUNTS_READ
              - CREDIT_CARDS_ACCOUNTS_BILLS_READ
              - CREDIT_CARDS_ACCOUNTS_BILLS_TRANSACTIONS_READ
              - CREDIT_CARDS_ACCOUNTS_LIMITS_READ
              - CREDIT_CARDS_ACCOUNTS_TRANSACTIONS_READ
              - CUSTOMERS_PERSONAL_IDENTIFICATIONS_READ
              - CUSTOMERS_PERSONAL_ADITTIONALINFO_READ
              - CUSTOMERS_BUSINESS_IDENTIFICATIONS_READ
              - CUSTOMERS_BUSINESS_ADITTIONALINFO_READ
              - FINANCINGS_READ
              - FINANCINGS_SCHEDULED_INSTALMENTS_READ
              - FINANCINGS_PAYMENTS_READ
              - FINANCINGS_WARRANTIES_READ
              - INVOICE_FINANCINGS_READ
              - INVOICE_FINANCINGS_SCHEDULED_INSTALMENTS_READ
              - INVOICE_FINANCINGS_PAYMENTS_READ
              - INVOICE_FINANCINGS_WARRANTIES_READ
              - LOANS_READ
              - LOANS_SCHEDULED_INSTALMENTS_READ
              - LOANS_PAYMENTS_READ
              - LOANS_WARRANTIES_READ
              - UNARRANGED_ACCOUNTS_OVERDRAFT_READ
              - UNARRANGED_ACCOUNTS_OVERDRAFT_SCHEDULED_INSTALMENTS_READ
              - UNARRANGED_ACCOUNTS_OVERDRAFT_PAYMENTS_READ
              - UNARRANGED_ACCOUNTS_OVERDRAFT_WARRANTIES_READ
              - PAYMENTS_INITIATE
              - RESOURCES_READ
          minItems: 1
          maxItems: 30
          example:
            - - ACCOUNTS_READ
              - ACCOUNTS_OVERDRAFT_LIMITS_READ
              - RESOURCES_READ
        failingResources:
          type: array
          items:
            description: Lista opcional de recursos que falharam no discovery
            type: string
            enum:
              - CUSTOMER
              - CREDIT_CARD_ACCOUNT
              - ACCOUNT
              - PAYMENT
          maxItems: 1000
          example:
            - PAYMENT
      additionalProperties: false
    Creditor:
      type: object
      description: Somente para consentimentos de pagamento. Objeto contendo os dados do recebedor (creditor).
      required:
        - personType
        - cpfCnpj
        - name
      properties:
        personType:
          type: string
          maxLength: 15
          enum:
            - PESSOA_NATURAL
            - PESSOA_JURIDICA
          description: |
            Titular, pessoa natural ou juridica a quem se referem os dados de recebedor (creditor).
          example:
            - PESSOA_NATURAL
        cpfCnpj:
          type: string
          minLength: 11
          maxLength: 14
          pattern: ^\d{11}$|^\d{14}$
          example:
            - "11111111111"
          description: |
            Identificação da pessoa envolvida na transação.
            Preencher com o CPF ou CNPJ, de acordo com o valor escolhido no campo type.
            O CPF será utilizado com 11 números e deverá ser informado sem pontos ou traços.
            O CNPJ será utilizado com 14 números e deverá ser informado sem pontos ou traços.
        name:
          type: string
          maxLength: 140
          pattern: '[\w\W\s]*'
          example:
            - Marco Antonio de Brito
          description: |
            Em caso de pessoa natural deve ser informado o nome completo do titular da conta do recebedor.
            Em caso de pessoa jurídica deve ser informada a razão social ou o nome fantasia da conta do recebedor.
      additionalProperties: false
    ScheduleCustom:
      type: object
      description: |
        [Restrição] As datas enviadas na lista de datas (array “dates”) não podem ser repetidas. 
        Caso datas repetidas sejam enviadas, o detentor deve rejeitar a criação do consentimento, informando o erro PARAMETRO_INVALIDO.
      required:
        - dates
        - additionalInformation
      properties:
        dates:
          description: Define os dias em que estão planejadas as ocorrências das liquidações.
          type: array
          maxItems: 60
          minItems: 2
          example: [ '2023-08-23', '2023-09-26' ]
          items:
            type: string
            format: date
            pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
            maxLength: 10
            example: '2023-08-23'
        additionalInformation:
          type: string
          description: |
            Texto livre para Iniciador preencher de forma compreensível pelo usuário aprovador/pagador. 
            O texto pode ser utilizado pelo detentor para exibição do resumo da transação durante aprovação do usuário aprovador/pagador.
          pattern: '[\w\W\s]*'
          maxLength: 255
          example: Todas quintas e domingos por 6 meses
        scheduleDates:
          type: array
          items:
            type: string
            format: date
            pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
            maxLength: 10
            example: '2023-08-23'
    ScheduleMonthly:
      type: object
      required:
        - dayOfMonth
        - startDate
        - quantity
      properties:
        dayOfMonth:
          description: Define o dia do mês planejado para a ocorrência das liquidações.
          type: integer
          minimum: 1
          maximum: 31
          example: 10
        startDate:
          description: Define o início da vigência da recorrência.
          type: string
          format: date
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
          maxLength: 10
          example: '2023-08-23'
        quantity:
          description: Define a quantidade de pagamentos que serão enviados para liquidação.
          type: integer
          format: int32
          minimum: 2
          maximum: 24
          example: 24
        scheduleDates:
          type: array
          items:
            type: string
            format: date
            pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
            maxLength: 10
            example: '2023-08-23'
    ScheduleDaily:
      type: object
      required:
        - startDate
        - quantity
      properties:
        startDate:
          description: Define o início da vigência da recorrência.
          type: string
          format: date
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
          maxLength: 10
          example: '2023-08-23'
        quantity:
          description: Define a quantidade de pagamentos que serão enviados para liquidação.
          type: integer
          format: int32
          minimum: 2
          maximum: 60
          example: 3
        scheduleDates:
              type: array
              items:
                type: string
                format: date
                pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
                maxLength: 10
                example: '2023-08-23'
    ScheduleWeekly:
      type: object
      required:
        - dayOfWeek
        - startDate
        - quantity
      properties:
        dayOfWeek:
          description: Define o dia da semana planejado para a ocorrência das liquidações.
          type: string
          enum:
            - SEGUNDA_FEIRA
            - TERCA_FEIRA
            - QUARTA_FEIRA
            - QUINTA_FEIRA
            - SEXTA_FEIRA
            - SABADO
            - DOMINGO
          example: QUINTA_FEIRA
        startDate:
          description: Define o início da vigência da recorrência.
          type: string
          format: date
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
          maxLength: 10
          example: '2023-08-23'
        quantity:
          description: Define a quantidade de pagamentos que serão enviados para liquidação.
          type: integer
          format: int32
          minimum: 2
          maximum: 60
          example: 10
        scheduleDates:
          type: array
          items:
            type: string
            format: date
            pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
            maxLength: 10
            example: '2023-08-23'
    ScheduleSingle:
      type: object
      required:
        - date
      properties:
        date:
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
          example: '2023-08-23'
          description: |
            Define a data alvo da liquidação do pagamento.
            O fuso horário de Brasília deve ser utilizado para criação e racionalização sobre os dados deste campo.

            [Restrição] Esse campo deverá sempre ser no mínimo D+1 corrido, ou seja, a data imediatamente posterior em 
            relação a data do consentimento considerando o fuso horário de Brasília e deverá ser no máximo D+730 corridos a 
            partir da data do consentimento, também considerando o fuso horário de Brasília.
    ScheduleTypeEnum:
      enum:
        - SINGLE
        - CUSTOM
        - DAILY
        - WEEKLY
        - MONTHLY
      type: string
    AutomaticPayment:
      type: object
      description: Campo destinado a configuração dos diferentes produtos de pagamentos recorrentes.
      oneOf:
        - $ref: '#/components/schemas/Automatic'
        - $ref: '#/components/schemas/Sweeping'
    Automatic:
      type: object
      required:
        - automatic
      properties:
        automatic:
          type: object
          description: Definição da configuração de recorrência para pagamentos automáticos
          required:
            - contractId
            - period
            - contractDebtor
            - isRetryAccepted
            - referenceStartDateTime
            - useOverdraftLimit
          properties:
            contractId:
              type: string
              pattern: ^[a-zA-Z0-9]{1,35}$
              minLength: 1
              maxLength: 35
              example: XE00038166201907261559y6j6
              description: Identificador do contrato de transação
            fixedAmount:
              type: string
              pattern: ^((\d{1,16}\.\d{2}))$
              minLength: 4
              maxLength: 19
              example: "100000.12"
              description: |
                Valor fixo de cobrança, caso preenchido, representa um consentimento para pagamentos de valores fixos, ou não sujeitos a alteração durante a vigência do consentimento. 

                [Restrição] Excludente com o campo “/data/recurringConfiguration/automatic/maximumVariableAmount”
            maximumVariableAmount:
              type: string
              pattern: ^((\d{1,16}\.\d{2}))$
              minLength: 4
              maxLength: 19
              example: "1000000.12"
              description: |
                Valor máximo permitido por cobrança, caso preenchido, representa um consentimento para pagamentos de valores variáveis. 

                [Restrição] Excludente com o campo “/data/recurringConfiguration/automatic/fixedAmount”
            interval:
              type: string
              enum:
                - SEMANAL
                - MENSAL
                - ANUAL
                - SEMESTRAL
                - TRIMESTRAL
              example: SEMANAL
              description: |
                Define a periodicidade permitida para realização de transações
                - SEMANAL
                - MENSAL
                - ANUAL
                - SEMESTRAL
                - TRIMESTRAL
            contractDebtor:
              $ref: "#/components/schemas/ContractDebtor"
            firstPayment:
              $ref: "#/components/schemas/FirstPayment"
            minimumVariableAmount:
              type: string
              pattern: ^((\d{1,16}\.\d{2}))$
              minLength: 4
              maxLength: 19
              example: "100000.12"
              description: |
                Valor definido pelo usuário recebedor. 
                Se o usuário pagador atribuir um valor máximo para os pagamentos daquela autorização, ele não poderá ser inferior ao valor mínimo (piso) definido pelo usuário recebedor. 
                Não pode ser preenchido nas autorizações de valor fixo.
            isRetryAccepted:
              type: boolean
              description: Indica se é permitido pelo cliente recebedor fazer tentativas de pagamento (extradia), conforme as regras estabelecidas no arranjo Pix.
              example: false
            referenceStartDateTime:
              type: string
              format: date-time
              pattern: ^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$
              description: |
                Representa a data prevista para a primeira ocorrência de um pagamento associado a recorrência. 
                Uma string com data e hora conforme especificação [RFC-3339](https://datatracker.ietf.org/doc/html/rfc3339), sempre com a utilização de timezone UTC(UTC time format).
              example: 2023-05-21T08:30:00Z
            useOverdraftLimit:
              type: boolean
              default: true
              example: true
              description: Indica se o usuário pagador autorizou a utilização de limite pré-aprovado (cheque especial) na sua conta para realização de pagamentos, caso o cliente possua o produto.
    Sweeping:
      type: object
      required:
        - sweeping
      properties:
        sweeping:
          type: object
          required:
            - startDateTime
            - useOverdraftLimit
          description: Definição da configuração de recorrência para transferências automáticas de fundos.
          properties:
            totalAllowedAmount:
              type: string
              minLength: 4
              maxLength: 19
              pattern: ^((\d{1,16}\.\d{2}))$
              example: "100000.12"
              description: Valor máximo a ser atingido pelo somatório de todas as transações que utilizam o consentimento autorizado pelo cliente. Caso o valor seja superado, a detentora de conta deve negar a transação solicitada pela iniciadora.
            transactionLimit:
              type: string
              pattern: ^((\d{1,16}\.\d{2}))$
              minLength: 4
              maxLength: 19
              example: "1000000.12"
              description: Valor máximo para cada transação de pagamento associada a esse consentimento. Caso valor do pagamento seja maior que esse limite, a detentora de contas deve rejeitar a transação de pagamento.
            periodicLimits:
              $ref: "#/components/schemas/PeriodicLimits"
            startDateTime:
              type: string
              format: date-time
              pattern: ^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$
              description: |
                Description: Data e hora em que o consentimento deve passar a ser válido. 
                Uma string com data e hora conforme especificação [RFC-3339](https://datatracker.ietf.org/doc/html/rfc3339), sempre com a utilização de timezone UTC(UTC time format).

                [Restrição] Caso esse campo não seja enviado pelo iniciador na requisição, o detentor deve preencher esse campo com o mesmo valor atribuído ao campo /data/creationDateTime.
              example: 2023-05-21T08:30:00Z
            useOverdraftLimit:
              type: boolean
              default: true
              example: true
              description: Indica se o usuário pagador autorizou a utilização de limite pré-aprovado (cheque especial) na sua conta para realização de pagamentos, caso o cliente possua o produto.
    PeriodicLimits:
      type: object
      description: Limites transacionais por período determinado pelo usuário pagador.
      properties:
        day:
          $ref: '#/components/schemas/Day'
        week:
          $ref: '#/components/schemas/Week'
        month:
          $ref: '#/components/schemas/Month'
        year:
          $ref: '#/components/schemas/Year'
    Day:
      type: object
      description: |
        Configurar limite transacional diário determinado pelo usuário pagador.
        
        [Restrição] Caso enviado o objeto, ao menos um dos campos (`quantityLimit` ou `transactionLimit`) devem ser preenchidos.
      properties:
        quantityLimit:
          type: integer
          example: 2
          description: Quantidade limite de transações permitidas para ocorrer durante um dia.
        transactionLimit:
          type: string
          pattern: '^((\d{1,16}\.\d{2}))$'
          minLength: 4
          maxLength: 19
          example: '100000.12'
          description: Valor máximo a ser transacionado diariamente.
    Week:
      type: object
      description: |
        Configurar limite transacional semanal determinado pelo usuário pagador.
        
        [Restrição] Caso enviado o objeto, ao menos um dos campos (`quantityLimit` ou `transactionLimit`) devem ser preenchidos
      properties:
        quantityLimit:
          type: integer
          example: 10
          description: Quantidade limite de transações permitidas para ocorrer durante uma semana.
        transactionLimit:
          type: string
          pattern: '^((\d{1,16}\.\d{2}))$'
          minLength: 4
          maxLength: 19
          example: '100000.12'
          description: Valor máximo a ser transacionado semanalmente.
    Month:
      type: object
      description: |
        Configurar limite transacional mensal determinado pelo usuário pagador.
        
        [Restrição] Caso enviado o objeto, ao menos um dos campos (`quantityLimit` ou `transactionLimit`) devem ser preenchidos
      properties:
        quantityLimit:
          type: integer
          example: 30
          description: Quantidade limite de transações permitidas para ocorrer durante um mês.
        transactionLimit:
          type: string
          pattern: '^((\d{1,16}\.\d{2}))$'
          minLength: 4
          maxLength: 19
          example: '100000.12'
          description: Valor máximo a ser transacionado mensalmente.
    Year:
      type: object
      description: |
        Configurar limite transacional anual determinado pelo usuário pagador.
        
        [Restrição] Caso enviado o objeto, ao menos um dos campos (`quantityLimit` ou `transactionLimit`) devem ser preenchidos
      properties:
        quantityLimit:
          type: integer
          example: 100
          description: Quantidade limite de transações permitidas para ocorrer durante um ano.
        transactionLimit:
          type: string
          pattern: '^((\d{1,16}\.\d{2}))$'
          minLength: 4
          maxLength: 19
          example: '100000.12'
          description: Valor máximo a ser transacionado por um ano, a partir da data definida no campo `/data/startDateTime`.
    PixPaymentConsent:
      type: object
      description: Somente para consentimentos de pagamento PIX. Objeto contendo dados de pagamento para consentimento.
      required:
        - type
        - currency
        - amount
        - details
      properties:
        type:
          type: string
          maxLength: 3
          enum:
            - PIX
          example:
            - PIX
          description: |
            Este campo define o tipo de pagamento que será iniciado após a autorização do consentimento.
        date:
          type: string
          format: date
          maxLength: 10
          pattern: ^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$
          example:
            - "2021-01-01"
          description: Data do pagamento, conforme especificação RFC-3339.
        schedule:
          description: |
            [Restrição] Mutuamente excludente com o campo date. 
            Este campo é obrigatório no caso de agendamento. 
            Neste caso, o campo date não deverá ser informado. 
            O prazo máximo para o consentimento deverá ser de dois anos, contando a partir da data de criação do consentimento retornada na criação do mesmo (campo /data/creationDateTime). 
            Agendamento de pagamento único deve utilizar exclusivamente o objeto "single".
          properties:
            type:
              $ref: '#/components/schemas/ScheduleTypeEnum'
            single:
              $ref: '#/components/schemas/ScheduleSingle'
            daily:
              $ref: '#/components/schemas/ScheduleDaily'
            weekly:
              $ref: '#/components/schemas/ScheduleWeekly'
            monthly:
              $ref: '#/components/schemas/ScheduleMonthly'
            custom:
              $ref: '#/components/schemas/ScheduleCustom'
          additionalProperties: false
        currency:
          type: string
          maxLength: 3
          pattern: ^([A-Z]{3})$
          example:
            - BRL
          description: |
            Código da moeda nacional segundo modelo ISO-4217, ou seja, 'BRL'.
            Todos os valores monetários informados estão representados com a moeda vigente do Brasil.
        amount:
          type: string
          minLength: 4
          maxLength: 19
          pattern: ^((\d{1,16}\.\d{2}))$
          example:
            - "100000.12"
          description: |
            Valor da transação com 2 casas decimais.
        ibgeTownCode:
          type: string
          minLength: 7
          maxLength: 7
          pattern: ^\d{7}$
          example:
            - "5300108"
          description: |
            Traz o código da cidade segundo o IBGE (Instituto Brasileiro de Geografia e Estatística).
            Para o preenchimento deste campo, o Iniciador de Pagamentos deve seguir a orientação do arranjo da forma de pagamento.
            O preenchimento do campo tanto em pix/payments quanto /consents deve ser igual. Caso haja divergência dos valores, a instituição deve retornar HTTP 422 com o código de erro PAGAMENTO_DIVERGENTE_DO_CONSENTIMENTO.
            Este campo faz referência ao campo CodMun do arranjo Pix.
        details:
          type: object
          description: |
            Objeto contendo os detalhes do pagamento.
          required:
            - localInstrument
            - creditorAccount
          properties:
            localInstrument:
              type: string
              maxLength: 4
              enum:
                - MANU
                - DICT
                - QRDN
                - QRES
                - INIC
              example:
                - DICT
              description: |
                Especifica a forma de iniciação do pagamento:
                - MANU - Inserção manual de dados da conta transacional
                - DICT - Inserção manual de chave Pix
                - QRDN - QR code dinâmico
                - QRES - QR code estático
                - INIC - Indica que o recebedor (creditor) contratou o Iniciador de Pagamentos especificamente para realizar iniciações de pagamento em que o beneficiário é previamente conhecido.
            qrCode:
              type: string
              maxLength: 512
              pattern: '[\w\W\s]*'
              example:
                - |
                  00020104141234567890123426660014BR.GOV.BCB.PIX014466756C616E6F32303139406578616D706C652E636F6D27300012
                  BR.COM.OUTRO011001234567895204000053039865406123.455802BR5915NOMEDORECEBEDOR6008BRASILIA61087007490062
                  530515RP12345678-201950300017BR.GOV.BCB.BRCODE01051.0.080450014BR.GOV.BCB.PIX0123PADRAO.URL.PIX/0123AB
                  CD81390012BR.COM.OUTRO01190123.ABCD.3456.WXYZ6304EB76
              description: |
                Sequência de caracteres que corresponde ao QR Code disponibilizado para o pagador.
                É a sequência de caracteres que seria lida pelo leitor de QR Code, e deve propiciar o retorno dos dados do pagador após consulta na DICT.
                Essa funcionalidade é possível tanto para QR Code estático quanto para QR Code dinâmico.
                No arranjo do Pix esta é a mesma sequência gerada e/ou lida pela funcionalidade Pix Copia e Cola.
                Este campo deverá ser no formato UTF-8.
                [Restrição] Preenchimento obrigatório para pagamentos por QR Code, observado o tamanho máximo de 512 bytes.
            proxy:
              type: string
              maxLength: 77
              pattern: '[\w\W\s]*'
              example:
                - "12345678901"
              description: |
                Chave cadastrada no DICT pertencente ao recebedor. Os tipos de chaves podem ser: telefone, e-mail, cpf/cnpj ou chave aleatória.
                No caso de telefone celular deve ser informado no padrão E.1641.
                Para e-mail deve ter o formato xxxxxxxx@xxxxxxx.xxx(.xx) e no máximo 77 caracteres.
                No caso de CPF deverá ser informado com 11 números, sem pontos ou traços.
                Para o caso de CNPJ deverá ser informado com 14 números, sem pontos ou traços.
                No caso de chave aleatória deve ser informado o UUID gerado pelo DICT, conforme formato especificado na RFC41223.
                Se informado, a detentora da conta deve validar o proxy no DICT quando localInstrument for igual a DICT, QRDN ou QRES e validar o campo creditorAccount.
                Esta validação é opcional caso o localInstrument for igual a INIC.
                [Restrição]
                Se localInstrument for igual a MANU, o campo proxy não deve ser preenchido.
                Se localInstrument for igual INIC, DICT, QRDN ou QRES, o campo proxy deve ser sempre preenchido com a chave Pix.
            creditorAccount:
              type: object
              description: |
                Objeto que contém a identificação da conta de destino do beneficiário/recebedor.
              required:
                - ispb
                - number
                - accountType
              properties:
                ispb:
                  type: string
                  minLength: 8
                  maxLength: 8
                  pattern: ^[0-9]{8}$
                  example:
                    - "12345678"
                  description: |
                    Deve ser preenchido com o ISPB (Identificador do Sistema de Pagamentos Brasileiros) do participante do SPI (Sistema de pagamentos instantâneos) somente com números.
                issuer:
                  type: string
                  maxLength: 4
                  pattern: ^\d{4}$
                  example:
                    - "1774"
                  description: |
                    Código da Agência emissora da conta sem dígito.
                    (Agência é a dependência destinada ao atendimento aos clientes, ao público em geral e aos associados de cooperativas de crédito,
                    no exercício de atividades da instituição, não podendo ser móvel ou transitória).
                    [Restrição] Preenchimento obrigatório para os seguintes tipos de conta: CACC (CONTA_DEPOSITO_A_VISTA), SVGS (CONTA_POUPANCA) e SLRY (CONTA_SALARIO).
                number:
                  type: string
                  minLength: 3
                  maxLength: 20
                  pattern: ^\d{3,20}$
                  example:
                    - "1234567890"
                  description: |
                    Deve ser preenchido com o número da conta do usuário recebedor, com dígito verificador (se este existir),
                    se houver valor alfanumérico, este deve ser convertido para 0.
                accountType:
                  type: string
                  maxLength: 4
                  enum:
                    - CACC
                    - SLRY
                    - SVGS
                    - TRAN
                  example:
                    - CACC
                  description: |
                    Tipos de contas usadas para pagamento via Pix.
                    Modalidades tradicionais previstas pela Resolução 4.753, não contemplando contas vinculadas,
                    conta de domiciliados no exterior, contas em moedas estrangeiras e conta correspondente moeda eletrônica.
                    Segue descrição de cada valor do ENUM para o escopo do Pix.
                    CACC - Current - Conta Corrente.
                    SLRY - Salary - Conta-Salário.
                    SVGS - Savings - Conta de Poupança.
                    TRAN - TransactingAccount - Conta de Pagamento pré-paga.
              additionalProperties: false
          additionalProperties: false
      additionalProperties: false
    ContractDebtor:
      type: object
      description: Informações sobre o cliente devedor do contrato.
      required:
        - name
        - document
      properties:
        name:
          type: string
          pattern: ^([A-Za-zÀ-ÖØ-öø-ÿ,.@:&*+_<>()!?/\\$%\d' -]+)$
          maxLength: 120
          example: Policarpo Quaresma
          description: Em caso de pessoa natural deve ser informado o nome completo do titular devedor do contrato.
        document:
          type: object
          required:
            - identification
            - rel
          properties:
            identification:
              type: string
              maxLength: 14
              description: Número do documento de identificação oficial do cliente devedor do contrato.
              example: "11111111111111"
              pattern: ^\d{14}$
            rel:
              type: string
              maxLength: 4
              description: Tipo do documento de identificação oficial do cliente devedor do contrato.
              example: CNPJ
              pattern: ^[A-Z]{4}$
    FirstPayment:
      type: object
      description: |
        Definições para o primeiro pagamento. É considerado como o pagamento da adesão ao serviço pelo usuário pagador.

        - A conta de crédito informada deve pertencer ao mesmo CNPJ informado no campo “/data/creditors/cpfCnpj”
        - A conta de crédito informada no momento do primeiro pagamento deve ser a mesma informada dentro deste objeto. 
        Caso não respeitado, o detentor deve rejeitar o pagamento com o motivo DETALHE_PAGAMENTO_INVALIDO, sincronamente (HTTP 422) ou assincronamente (HTTP 200)
      required:
        - type
        - date
        - currency
        - amount
        - creditorAccount
      properties:
        type:
          $ref: "#/components/schemas/EnumPaymentType"
        date:
          type: string
          format: date
          maxLength: 10
          pattern: ^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$
          example: 2021-01-01
          description: |
            Define a data alvo da liquidação do pagamento.
            O fuso horário de Brasília deve ser utilizado para criação e racionalização sobre os dados deste campo.
        currency:
          type: string
          maxLength: 3
          pattern: ^([A-Z]{3})$
          example: BRL
          description: |
            Código da moeda nacional segundo modelo ISO-4217, ou seja, 'BRL'.
            Todos os valores monetários informados estão representados com a moeda vigente do Brasil.
        amount:
          type: string
          minLength: 4
          maxLength: 19
          pattern: ^((\d{1,16}\.\d{2}))$
          example: "100000.12"
          description: |
            Valor da transação com 2 casas decimais.
        remittanceInformation:
          type: string
          maxLength: 140
          pattern: "[\\w\\W\\s]*"
          example: Pagamento da nota RSTO035-002
          description: |
            Deve ser preenchido sempre que o usuário pagador inserir alguma informação adicional em um pagamento, a ser enviada ao recebedor.
        creditorAccount:
          $ref: "#/components/schemas/PostCreditorAccount"
    PostCreditorAccount:
      type: object
      description: |
        Recebe os dados de conta do usuário recebedor. 
      required:
        - ispb
        - number
        - accountType
      properties:
        ispb:
          type: string
          minLength: 8
          maxLength: 8
          pattern: ^[0-9]{8}$
          example: "12345678"
          description: |
            Deve ser preenchido com o ISPB (Identificador do Sistema de Pagamentos Brasileiros) do participante do SPI (Sistema de pagamentos instantâneos) somente com números.
        issuer:
          type: string
          minLength: 1
          maxLength: 4
          pattern: ^[0-9]{1,4}$
          example: "1774"
          description: |
            Código da Agência emissora da conta sem dígito. 
            (Agência é a dependência destinada ao atendimento aos clientes, ao público em geral e aos associados de cooperativas de crédito, 
            no exercício de atividades da instituição, não podendo ser móvel ou transitória).

            [Restrição] Preenchimento obrigatório para os seguintes tipos de conta: CACC (CONTA_DEPOSITO_A_VISTA) e SVGS (CONTA_POUPANCA).
        number:
          type: string
          minLength: 1
          maxLength: 20
          pattern: ^[0-9]{1,20}$
          example: "1234567890"
          description: |
            Deve ser preenchido com o número da conta transacional do usuário pagador, com dígito verificador (se este existir), 
            se houver valor alfanumérico, este deve ser convertido para 0.
        accountType:
          $ref: "#/components/schemas/EnumAccountTypeConsents"
    EnumAccountTypeConsents:
      type: string
      enum:
        - CACC
        - SVGS
        - TRAN
      example: CACC
      description: |
        Tipos de contas usadas para pagamento. 
        Modalidades tradicionais previstas pela Resolução 4.753, não contemplando contas vinculadas, 
        conta de domiciliados no exterior, contas em moedas estrangeiras e conta correspondente moeda eletrônica.  
        Segue descrição de cada valor do ENUM.

        - CACC - Current - Conta Corrente.
        - SVGS - Savings - Conta de Poupança.
        - TRAN - TransactingAccount - Conta de Pagamento pré-paga.
    EnumPaymentType:
      type: string
      enum:
        - PIX
      example: PIX
      description: |
        Este campo define o tipo de pagamento que será iniciado após a autorização do consentimento.
  parameters:
    CommandId:
      name: id
      in: path
      description: |
        ID do comando que está sendo referenciado. Pode ter sido obtido diretamente
        via deeplink ou através de algum PUT de resposta de um comando anterior.
      required: true
      schema:
        type: string
        maxLength: 40