{
    "paymentForm": "${body.requestBody.data.localInstrument}",
    "initiatorDocument": "${body.requestBody.data.cnpjInitiator}", 
    "consentId":"${body.consent.externalId}",
    "payer": {
        "document": "${body.consent.loggedUser.document.identification}",
        "account": {
            "branch": "${body.consent.debtorAccount.issuer}",
            "accountNumber": "${body.consent.debtorAccount.number}"
        }
    },
    "payee": {
        "name": "${body.consent.creditor.name}",
        "document": "${body.consent.creditor.cpfCnpj}",
#if(${body.requestBody.data.localInstrument} == 'MANU')
        "ispb": "${body.requestBody.creditorAccount.ispb}",
        "account": {
            "branch": "${body.requestBody.data.creditorAccount.issuer}",
            "accountNumber": "${body.requestBody.data.creditorAccount.number}",
            "accountType": "${body.requestBody.data.creditorAccount.accountType}"
        }
    },
#elseif(${body.requestBody.data.localInstrument} == 'DICT')
        "key": "${body.requestBody.data.proxy}"
    },
#elseif(${body.requestBody.data.localInstrument} == 'QRES' || ${body.requestBody.data.localInstrument} == 'QRDN')
    "QRCode": "${body.requestBody.data.qrCode}",
#else
    "transactionIdentification": "${body.requestBody.data.transactionIdentification}",
#end
    "transaction": {
        "value": ${body.requestBody.data.payment.amount},
        "currency": "${body.requestBody.data.payment.currency}"
    },
    "additionalInformation": "${body.requestBody.data.remittanceInformation}"
}